In [7]:
class NhanVien:
    def __init__(self, ma_nv, luong_cb):
        self.__ma_nv = ma_nv
        self.__luong_cb = luong_cb

    def tinh_luong(self):
        return self.__luong_cb

    def get_ma_nv(self):
        return self.__ma_nv

    def get_luong_cb(self):
        return self.__luong_cb

class NhanVienTangCa(NhanVien):
    def tinh_luong(self):
        return self.get_luong_cb() * 1.2
    
class NhanVienChuyenChuyen(NhanVien):
    def tinh_luong(self):
        return self.get_luong_cb() + 500000

if __name__ == "__main__":
    danh_sach = [
        NhanVien("NV01", 10000000),
        NhanVienTangCa("NV02", 10000000),
        NhanVienChuyenChuyen("NV03", 10000000)
    ]

    for nv in danh_sach:
        print(f"Mã NV: {nv.get_ma_nv()} - Lương: {nv.tinh_luong():,.0f} VNĐ")

Mã NV: NV01 - Lương: 10,000,000 VNĐ
Mã NV: NV02 - Lương: 12,000,000 VNĐ
Mã NV: NV03 - Lương: 10,500,000 VNĐ

In [8]:
import numpy as np

san_luong = [12, None, 8, 15, None, 10]

arr = np.array(san_luong, dtype=float)
arr = arr.reshape(2, 3)

print("Sau khi reshape:")
print(arr)

mean_value = np.nanmean(arr)     
arr[np.isnan(arr)] = mean_value

print("Sau khi thay NaN:")
print(arr)

phan_tu_lon_hon_9 = arr[arr > 9]
gia_tri_nho_nhat = np.min(phan_tu_lon_hon_9)

print("Các phần tử > 9:", phan_tu_lon_hon_9)
print("Giá trị nhỏ nhất trong tập này:", gia_tri_nho_nhat)

Sau khi reshape:
[[12. nan  8.]
 [15. nan 10.]]
Sau khi thay NaN:
[[12.   11.25  8.  ]
 [15.   11.25 10.  ]]
Các phần tử > 9: [12.   11.25 15.   11.25 10.  ]
Giá trị nhỏ nhất trong tập này: 10.0

In [9]:
import pandas as pd
df = pd.read_csv("nhan_su.csv")

df_loc = df[
    df["Ma_NV"].astype(str).str.contains("NS", case=False, na=False) &
    (df["Nam_Cong_Tac"] >= 2021)
]

print(df_loc)

    Ma_NV  Phong_Ban  Thanh_Tich  Nam_Cong_Tac
0   NS001  KinhDoanh        85.0          2021
1   ns002  KinhDoanh         NaN          2022
2   NS003     NhanSu        90.0          2023
4   NS005    KyThuat        88.0          2021
5   ns006    KyThuat         NaN          2024
6   NS007  KinhDoanh        95.0          2023
8   NS009     NhanSu         NaN          2022
9   NS010    KyThuat        92.0          2024
10  NS011  KinhDoanh        80.0          2021

In [10]:
mean_thanh_tich = df_loc["Thanh_Tich"].mean()

df_loc["Thanh_Tich"] = df_loc["Thanh_Tich"].fillna(mean_thanh_tich)

print(df_loc)

    Ma_NV  Phong_Ban  Thanh_Tich  Nam_Cong_Tac
0   NS001  KinhDoanh   85.000000          2021
1   ns002  KinhDoanh   88.333333          2022
2   NS003     NhanSu   90.000000          2023
4   NS005    KyThuat   88.000000          2021
5   ns006    KyThuat   88.333333          2024
6   NS007  KinhDoanh   95.000000          2023
8   NS009     NhanSu   88.333333          2022
9   NS010    KyThuat   92.000000          2024
10  NS011  KinhDoanh   80.000000          2021

C:\Users\admin\AppData\Local\Temp\ipykernel_5532\3440170626.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_loc["Thanh_Tich"] = df_loc["Thanh_Tich"].fillna(mean_thanh_tich)

In [11]:
thanh_tich_theo_phong = df_loc.groupby("Phong_Ban")["Thanh_Tich"].sum()
print(thanh_tich_theo_phong)

Phong_Ban
KinhDoanh    348.333333
KyThuat      268.333333
NhanSu       178.333333
Name: Thanh_Tich, dtype: float64

In [12]:
pivot_table = pd.pivot_table(
    df_loc,
    index="Phong_Ban",
    columns="Nam_Cong_Tac",
    values="Thanh_Tich",
    aggfunc="sum",
    fill_value=0
)

print(pivot_table)

Nam_Cong_Tac   2021       2022  2023        2024
Phong_Ban
KinhDoanh     165.0  88.333333  95.0    0.000000
KyThuat        88.0   0.000000   0.0  180.333333
NhanSu          0.0  88.333333  90.0    0.000000